# Base de données PostgreSQL
DATABASE_URL="postgresql://futurekawa:futurekawa123@localhost:5433/futurekawa_ecuador"

# Port du serveur
PORT=3011

# MQTT Broker
MQTT_BROKER_URL="mqtt://localhost:1884"
MQTT_TOPIC="futurekawa/ecuador/warehouse-1/measurements"